body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
}

#quizContainer {
    background-color: tan;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1);
}

label {
    margin-left: 10px;
}

input[type=button] {
    margin-top: 20px;
}