body {
    font-family: Arial, sans-serif;
}
#header{
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #8D8741;
    box-shadow: 4px 4px 8px  black;
    border-radius: 5px;
    border :4px outset #fff;
}
#quizContainer {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    min-height: 20px 20px;
    padding: 20px;
    background-color: #659DBD;
    box-shadow: 4px 4px 8px  black;
    border-radius: 5px;
    border :4px outset #fff;
}

label {
    margin-right: 10px;
}


input[type=button] {
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 2px  black;
}
